/* estilos de manera general */

* {
	margin: 10px;
	padding: 0px;
	text-decoration: none;
	font-family: 'Open Sans',Verdana;
}

:root {
	--gray-light: #4E6E81;
	--white-sand: #F9DBBB;
	--red: #FF0303;
	--gray-dark: #2E3840;
	/* paleta de colores: https://colorhunt.co/palette/4e6e81f9dbbbff03032e3840 */
}

html {
	font-size: 62.5%;
}

body {
	background: rgba(249, 219, 187, 0.25);
}

.estructurar {
	float: none;
	clear: both;
}

.contenedor {
	width: 90%;
	margin: 0px auto;

}

/* seccion del encabezado */

#encabezado {
	background: rgba(255, 3, 3, 0.90);
	height: 160px;
    margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;
	line-height: 32px;
}

#logo {
	width: 40%;
	float: left;
}

#logo h1 {
	font-size: 4.2rem;
	font-weight: bold;
	color: white;
}

#menu {
	width: 48%;
	float: left;
	display: block;
}

#menu ul li {
	list-style: none;
	float: left;
	margin-left: 4px;
	margin-right: 4px;
}

#menu ul li a {
	color: white;
	font-size: 1.6rem;
}

/* estilo slider */

#slider {
	height: 260px;
	width: 100%px;
	background: var(--white-sand);

}

#slider h2 {
	color:white;
	font-size: 4.8rem;
	text-align: center;
	line-height: 250px;
	text-shadow: 5px 5px 10px black;
}

/* seccion de servicios */

.subtitulo {
	font-size: 30px;
	text-align: center;
	color: var(--gray-dark);
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 16px;
	border-bottom: 1px solid var(--red);
}

.contenedor__productos {
	display: grid;
	grid-template-columns: repeat(3, minmax(320px,30%));
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	place-content: center;
}

.producto {
	   display: flex;
    flex-direction: column;
    align-items: center;
}

.producto figcaption{
	font-size: 1.6rem;
	text-align: center;
	display: block;
}

.producto h3{
	margin-bottom: 4px;
	font-size: 2rem;
}

.producto img{
	height: 92px;
	margin-bottom: 12px;
	justify-self: center;
}

/* seccion de videos */

.video {
    width: 30%;
    float: left;
    margin: 1.6rem 0.4rem 3.2rem;
}

.video iframe {
	width: 96%;
	height: 200px;
}

/* fin de videos */

/* inicio de pie de pagina */
footer {
	background-color: var(--gray-light);
	text-align: center;
	padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: -20px;
	margin-right: -20px;
    margin-left: -20px;
}

footer div.contenedor + h2 {
	box-shadow: 0 0 20px 6px white;
} 

.contenedor p {
	font-size: 1.6rem;
}

footer ul li a img {
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
}

footer ul li {
	list-style: none;
	transition: 1s;
}

footer ul li:hover,
footer ul li:active {
	opacity: 0.84;
	transform: scale(1.5, 1.5);
}

footer ul {
	display: flex;
	justify-content: center;
	margin-top: 8px;
}

/* inicio de pie de pagina */

@media all and (max-width: 768px) {
	#logo {
		width: 100%;
	}

	#logo h1 {
		text-align: center;
		margin: 0 auto;
	}

	#menu ul {
		display: flex;
		justify-content: center;
		width: 202%;
	}

	.contenedor__productos {
		display: grid;
		grid-template-columns: repeat(2, minmax(320px,30%));
		grid-template-rows: repeat(3, 1fr);
	}

	.video {
		width: 60%;
		margin: 1.6rem 7.8rem 3.2rem;
	}
}

